<div>   
    <h1 class="text-info pt-4"> Felciidades estas a un paso de probar una comida asombrosa</h1>
    <p class="pb-3">Hemos recibido tu order y proximmamente prodras realizar el pago </p>
    <img src="/images/mango.png" width="80%" alt="" />

</div>